header {
    display: flex;
    // border: red 1px solid;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 4rem;

    .title{
        font-size: 2.125rem;
        color: #fff;
    }
}
